.DS_Store
*.DS_Store
.idea
.gradle
.vscode
build
out
.env
*.log
*.err
*.out
/kafka/full-stack
/swim/server/bin
/swim/server/build
/node/node_modules/
/node/package-lock.json
*.code-workspace
yarn.lock
