/* ===============================
 * Global style
 * ============================= */
 html, body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4em;
    font-family: Lato, "Open Sans", sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    background-color: #040e19;  
  }
  
  a, a:visited, a:focus {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  h1, .h1 {
    font-size: 48px;
    font-weight: normal;
  }
  
  h2, .h2 {
    font-size: 36px;
    font-weight: normal;
  }
  
  /* h3, .h3 {
    font-size: 24px;
    font-weight: normal;
  } */
  
  h4, .h4 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
  }
  
  h5, .h5 {
    font-size: 15px;
    font-weight: normal;
  }
  
  h6, .h6 {
    font-size: 13px;
    font-weight: normal;
  }
  
  h1, .h1 {
    line-height: 1.188;
  }
  
  h2, .h2 {
    line-height: 1.2;
  }
  
  h3, .h3 {
    line-height: 1.222;
  }
  
  h4, .h4 {
    font-weight: lighter;
    line-height: 1.2;
  }
  
  h6, .h6 {
    line-height: 1.23;
  }
  
  /* ===============================
   * Bootstrap override
   * ============================= */

.main {   
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  pointer-events: none;
}

.main-header .heading {
  margin: 8px 0 0 .5em;
}

.main-header .heading .title {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0;
}

.main-header .heading .subtitle {
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-top: -5px;
}

.main-header .form-select {
  margin: .1em 0 0 1em;  
}

.main-header .content-left {
  display: flex;
  align-items: center;
}

.main-header .form-select select {
  background: transparent;
  border: 0;
  font-size: 0.9375rem;
  color: #fff;
  padding: 0;
  margin: 0 0 0 5px;
  outline: none;
  border-bottom: 2px solid #44d7b6;
  pointer-events: all;
}

.main-header .form-select select option {
  color: black;
}

.prism-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #44d7b6;
}

